/* mobileFiltersPanel.css */
.mobile-filters-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.mobile-filters-panel {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 60% !important; /* ancho del panel */
  height: fit-content;
  max-height: 38rem; /* altura completa del viewport */
  background: #fff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  overflow-y: auto; /* para poder scrollear los filtros si exceden la altura */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.filters-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.filters-close-btn {
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
}

.filters-content {
  flex: 1;           /* ocupa todo el espacio restante del panel */
  overflow-y: auto;  /* permite scroll vertical */
  padding-bottom: 0rem;
}