/* src/components/items/style/mobileNavbar.css */

.mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 55px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0 0 20px 20px  ;
  box-shadow: 0 4px 20px 4px rgba(3, 3, 3, 0.226);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 5px;
}

.mobile-title {
  font-weight: 600;
  font-size: 16px;
}
