/* src/components/items/style/mobilefiltersbar.css */

.mobile-navbar {
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 90;
  width: 12%;
  height: auto;
  background: #ffd876;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0 20px 20px 0 ;
  box-shadow: 0 4px 10px 4px rgba(3, 3, 3, 0.226);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 5px;
}

.mobile-title {
  font-weight: 600;
  font-size: 24px;
}
