/* Sidebar general */
.pro-sidebar {
  position: fixed;
  padding: 10px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #ececec;
}


/* Sticky */
.sticky-sidebar {
  position: sticky;
  top: 20px;
}

/* Título de secciones */
.filter-title {
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #333;
}

/* Grid de opciones */
.filter-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 12px;
}



/* Botón limpiar */
.btn-clear-filters {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  border: none;
  border-radius: 8px;
  background: #e8e8e8;
  font-weight: 500;
  transition: 0.2s ease;
}

.btn-clear-filters:hover {
  background: #d5d5d5;
}

/* Range input */
.form-range {
  width: 100%;
  margin: 10px 0 16px;
}


@media (max-width: 575.98px) {
  .pro-sidebar {
    padding: 0px;
    border-radius: 0 20px 20px 0;
  }
  .form-range  {
  display: none;
  }
  .btn-clear-filters{
      display: none;
  }
  .filter-title-Precio{
    display: none;
  }
  .hrr{
      display: none;
  }
}


/* SideBar */


.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 8px; /* Espacio entre filas y columnas */
}

.color-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 12px;
  transition: background 0.2s;
}

.color-option:hover {
  background: #f0f0f0;
}

.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: 0.2s;
}

.color-option.selected .color-circle {
  border-color: #000000;
  box-shadow: 0 0 0 3px rgba(3, 3, 3, 0.3);
}

.color-name {
  font-size: 0.85rem;
  color: #333;
}



.pill-btn {
  background-color: #f4f4f4; /* color principal dark de Bootstrap */
  color: #343a40;            /* texto blanco */
  border: none;
  padding: 6px 12px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.2s, color 0.2s;
}

.pill-btn:hover {
  background-color: #495057; /* gris oscuro al pasar el mouse */
  color: #ffffff;
}

.pill-btn.selected {
  background-color: #343a40; /* más oscuro cuando está seleccionado */
  color: #ffffff;             /* texto blanco */
}

.sidebar-filtros {
  position: static; /* ya NO sticky */
}

/* Nuevo contenedor fijo */
.sticky-wrapper {
  position: sticky;
  top: 5rem; /* compensación por tu navbar */
  z-index: 10;
}


